[includeIf "gitdir:~/dev/external/"]
  	path = ~/.gitconfig-external

[includeIf "gitdir:~/.config/nvim/"]
  	path = ~/.gitconfig-external

[url "https://github.com/"]
	insteadOf = git://github.com/

[commit]
	gpgsign = true

[push]
	default = simple

[pull]
	rebase = false

