[user]
	name = z0031t3_tgt
	email = david.vader@target.com
{{- $internalsigningkey := "" }}
{{- if hasKey . "internalsigningkey" }}{{ $internalsigningkey = .internalsigningkey }}{{ end }}
{{- if $internalsigningkey }}
	signingkey = {{ $internalsigningkey }}
{{- end }}

[commit]
{{- if $internalsigningkey }}
	gpgsign = true
{{- else }}
	gpgsign = false
{{- end }}
